@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&family=Space+Mono:wght@400;700&display=swap');
@media only screen and (min-width:1025px){
    .competition-outcontainer{
        width: 33vh;
        height: 45vh;
        overflow: hidden;
    }
    #comp-img{
        width: 33vh;
        height: 45vh;
        position: absolute;
        z-index: -1;
        left: 0vh;
        filter: blur(1.3px) brightness(0.4);
    }
    .comp-text{
        position: relative;
        z-index: 1;
        color: white;
        text-align: left;
        padding:5vh 2vh;
    }
    .comp-name{
        font-family: 'Space Mono', monospace;
        text-transform: capitalize;
        font-weight: 700;
        letter-spacing: 0.1vh;
        font-size: 2.3rem;
        color: #8108f1;
    }
    .comp-about{
        letter-spacing: .05vh;
        padding-top: 2vh;
        text-transform:capitalize;
        font-family: 'Space Mono', monospace;
        font-weight: 200;
        font-size: 0.8rem;
        line-height: 1.8vh;
        word-spacing: 0.2vh;
        margin-bottom: 6vh;
        color: rgb(230, 223, 223);
    }
    #comp-link{
        text-decoration: none;
        color:white;
        border-color: white;
        border-style: solid;
        padding:1vh 2vh;
        text-transform:capitalize ;
        letter-spacing: 0.1ch;
        margin-left: 5vh;
        font-family: 'Space Mono', monospace;
    }
}