/* html, body {
    max-width: 100%;
    overflow-x: hidden;
} */
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
body{
  text-align: center;
  color:#0D0D0D
}
.p1{
  font-family: 'Ubuntu', sans-serif;
}
.p2{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
}
.display-3{
  font-family: 'Zen Dots', cursive;
}  
img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

.mainarea{
  padding: 50px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3cpath d='M -346.20091454430553%2c269 C -250.2%2c285.4 -58.2%2c378 133.79908545569447%2c351 C 325.8%2c324 421.8%2c124.8 613.7990854556945%2c134 C 805.8%2c143.2 901.8%2c399.2 1093.7990854556945%2c397 C 1285.8%2c394.8 1504.56%2c114.2 1573.7990854556945%2c123 C 1643.04%2c131.8 1466.76%2c377.4 1440%2c441' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -12.441931954271183%2c183 C 83.56%2c214 275.56%2c362.6 467.5580680457288%2c338 C 659.56%2c313.4 755.56%2c43.2 947.5580680457288%2c60 C 1139.56%2c76.8 1235.56%2c398.8 1427.5580680457288%2c422 C 1619.56%2c445.2 1905.07%2c170.8 1907.5580680457288%2c176 C 1910.05%2c181.2 1533.51%2c393.6 1440%2c448' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -491.83215300330306%2c332 C -395.83%2c315.6 -203.83%2c235.6 -11.83215300330307%2c250 C 180.17%2c264.4 276.17%2c422.8 468.16784699669694%2c404 C 660.17%2c385.2 756.17%2c150.8 948.1678469966969%2c156 C 1140.17%2c161.2 1329.8%2c442 1428.1678469966969%2c430 C 1526.53%2c418 1437.63%2c162.8 1440%2c96' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -57.93017893560898%2c286 C 38.07%2c279.4 230.07%2c231.8 422.069821064391%2c253 C 614.07%2c274.2 710.07%2c409.8 902.069821064391%2c392 C 1094.07%2c374.2 1190.07%2c143.6 1382.069821064391%2c164 C 1574.07%2c184.4 1850.48%2c498.8 1862.069821064391%2c494 C 1873.66%2c489.2 1524.41%2c210.8 1440%2c140' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -717.6119702837859%2c442 C -621.61%2c376.2 -429.61%2c105.6 -237.6119702837859%2c113 C -45.61%2c120.4 50.39%2c470.8 242.3880297162141%2c479 C 434.39%2c487.2 530.39%2c170.8 722.3880297162141%2c154 C 914.39%2c137.2 1058.87%2c374.6 1202.388029716214%2c395 C 1345.91%2c415.4 1392.48%2c283.8 1440%2c256' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  
  text-align: center;
}
.display-6, .display-5{
  margin: 50px 80px 50px 80px;
  font-family: 'Original Surfer', cursive;

}
.dropdown-item:active{
   background-color: #3944F7;
   color: white;
   
}
.dropdown-menu{
   border: #3944F7 1px solid;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.cnav{
  background-color: #383CC1;
  filter: opacity(50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-item{
   padding-left: 30px;
}
.dropdown:hover .dropdown-menu {
   display: block;
   margin-top: 0;
}
.btn:focus {
   outline: none;
   box-shadow: none;
}
#navbarSupportedContent{
  animation-duration: 1.5s;
}
#navbtn1{
  height: 20px;
  border: 1px;
  width: 20px;
}
#navbtn1:active{
  border: 1px;
}
.ip1{
  width: 500px;
}
.cform, .cbtn{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cform:focus {
  background-color: rgba(255, 255, 0, 0.938);
  animation-duration: 2s;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(216, 196, 18, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.cbtn:focus {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
.sec2{
  margin: 10px 10px 10px 10px;
  text-align: center;
}
.sliderc{
  
  border: orchid solid 1px;
  border-radius: 50x;
  padding: 10px 10px 10px 10px;
}
.headtext{
  color: #DE4839;
}

.terminal{
  margin: 50px;
  text-align: left;
  border: none;
}
.terminal-body{
 padding-left: 1px;
}
.card-header{
  margin: -15px;
  text-align: left;
  padding: 4px;
  border: none;
}
.fa-circle{
  margin: 2px;
}
.red{
  color: #fd3927;
}
.yellow{
  color: #f3f047;
}
.green{
  color: rgb(58, 141, 65);
}
.about{
  text-align: center;
}
.white{
  color: white;
}
.under{
  height: 500px;
  padding-top: 50px
}
.joinbtn{
  height: 60px;
  width: 120px;
}
.location{
  margin-bottom: 50px;
  margin-top: 50px;
}
@media only screen and (min-width: 690px) {
  .terminal{
    margin-left: 250px;
    margin-right: 250px;
  }

}    

@media only screen and (max-width: 690px) {
  .display-6{
      margin: 0 20px 0 20px;
  }

}  

#link{
  text-decoration: none;
  position: relative;
  top: 0;
  transition: top ease 0.3s;
  color: white;
}
#link:hover{
  padding-top: 60px;
  top: -5px;
  transition: all 0.15s;
}

#devso{
  padding: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  position: relative;
  top: 0;
  transition: top ease 0.3s;
}
#devso:hover{
  color: gray;
  top: -5px;
  transition: all 0.15s;
}
.footersoc{
  word-spacing: 10px;

}
footer{
  color: white;
  padding-top: 50px;
  padding-bottom: 30px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(84%2c 55%2c 145%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c59 C 57.6%2c81.2 172.8%2c158.2 288%2c170 C 403.2%2c181.8 460.8%2c96.6 576%2c118 C 691.2%2c139.4 748.8%2c275.8 864%2c277 C 979.2%2c278.2 1036.8%2c131.8 1152%2c124 C 1267.2%2c116.2 1382.4%2c215.2 1440%2c238L1440 560L0 560z' fill='rgba(123%2c 81%2c 235%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c441 C 96%2c434 288%2c390.2 480%2c406 C 672%2c421.8 768%2c542.2 960%2c520 C 1152%2c497.8 1344%2c340 1440%2c295L1440 560L0 560z' fill='rgba(119%2c 17%2c 201%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
::-moz-selection { /* Code for Firefox */
  color: black;
  background: #e2fa5d;
}

::selection {
  color: black;
  background: #e2fa5d;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.project{
  margin: 20px;
}
.event{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3cpath d='M838.9569706426528 158.82099214062578L798.2223266701078 6.797231206858783 646.1985657363408 47.531875179403755 686.9332097088858 199.55563611317075z' fill='rgba(75%2c 87%2c 92%2c 0.73)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M189.19285681615773 536.9419633992209L239.9369706203265 452.48957594488303 87.88633253673545 418.5995989657988z' fill='rgba(75%2c 87%2c 92%2c 0.73)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1148.7318622925354 432.1380960582129L1218.384099606126 568.8383087418035 1355.0843122897165 499.186071428213 1285.432074976126 362.48585874462236z' fill='rgba(75%2c 87%2c 92%2c 0.73)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M531.4692515600415 45.64525798821534L432.07479195429164 40.43621508724007 426.86574905331634 139.83067469298993 526.2602086590662 145.0397175939652z' fill='rgba(75%2c 87%2c 92%2c 0.73)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M571.819%2c431.12C612.28%2c428.906%2c645.597%2c401.361%2c664.255%2c365.39C681.423%2c332.291%2c678.885%2c293.262%2c660.002%2c261.11C641.377%2c229.398%2c608.522%2c210.336%2c571.819%2c208.004C530.026%2c205.349%2c484.972%2c213.619%2c461.827%2c248.518C436.54%2c286.646%2c436.422%2c337.374%2c460.029%2c376.564C482.96%2c414.632%2c527.444%2c433.548%2c571.819%2c431.12' fill='rgba(75%2c 87%2c 92%2c 0.73)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M427.6660295239251 147.7705296581423L344.90093919179037 219.71712503802897 416.8475345716771 302.48221537016366 499.61262490381176 230.53561999027698z' fill='rgba(75%2c 87%2c 92%2c 0.73)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M159.6484994099905 76.64964731044196L90.27230113484465 151.04651156117674 164.66916538557945 220.42270983632258 234.0453636607253 146.02584558558783z' fill='rgba(75%2c 87%2c 92%2c 0.73)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1042.0316627896573 396.7140243217783L1042.0316627896573 557.0802016285264 1202.3978400964054 557.0802016285263 1202.3978400964054 396.71402432177825z' fill='rgba(75%2c 87%2c 92%2c 0.73)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M901.9511109005573 231.08983855318792L870.1554088217734 143.73186505602305 755.0162996154181 235.10440492278119z' fill='rgba(75%2c 87%2c 92%2c 0.73)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  margin: 10px;
}
.eventcol{
  margin: 50px;
  
}
.eventcol2{
  margin-top: 80px;
  text-align: left;
  color: #272424;
  
  
}
.boxx{
  
  margin-left: -120px;  
  background-color: #aad11e;
  position: absolute;
  border: none;
  border-radius: 25px;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(216, 196, 18, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.code{
  margin-top: 50px;
} 
.codecol{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1003'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1002'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1001'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1005'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1004'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1006'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1007'%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='30' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='30' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='30' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='30' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='30' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='30' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='30' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='30' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='90' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='90' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='90' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='90' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='90' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='90' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='90' y='390' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='90' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='90' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='90' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='150' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='150' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='150' y='150' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='150' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='150' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='150' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='150' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='150' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='150' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='150' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='210' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='210' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='210' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='210' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='210' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='210' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='210' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='270' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='270' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='270' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='270' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='270' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='330' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='330' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='330' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='330' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='330' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='330' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='330' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='330' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='330' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='330' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='390' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='390' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='390' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='390' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='390' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='390' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='390' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='390' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='390' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='390' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='450' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='450' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='450' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='450' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='450' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='510' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='510' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='510' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='510' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='510' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='510' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='510' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='510' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='510' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='510' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='570' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='570' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='570' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='570' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='570' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='570' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='570' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='570' y='450' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='570' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='570' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='630' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='630' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='630' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='630' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='630' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='630' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='630' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='630' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='630' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='630' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='690' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='690' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='690' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='690' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='690' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='690' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='690' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='690' y='450' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='690' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='690' y='570' stroke='%231c538e'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
  margin-top: 30px;
} 
@media only screen and (max-width: 690px) {
  .eventcol{
    margin: 0px;
    margin-bottom: 20px;
    
  }
  .eventcol2{
    margin-top: 0px;
    text-align: center;
  }
  .boxx{
    margin-left: 0px;
    position: relative;
  }
} 